@import "layout";
@import "variables";

.contact-mainvisual {
  @include mainvisual("../images/contact-img.png");
  .contact-mainvisual-box {
    @include mainvisual-box(#818284);
  }
}
.bg-text-even_contact {
  @include bg-text-even(34%);
}
.contact-box {
  margin-top: 4.3rem;
  padding: 0 7.9rem;
  display: flex;
  font-family: $japanese;

  &-left {
    margin-top: 9rem;
    font-size: 4.4rem;
    line-height: 6.6rem;
    span {
      color: white;
      background-color: #000000;
    }
  }
  &-right {
    margin-left: 7.3rem;
    font-size: 1.4rem;
    line-height: 3rem;
    &-text {
      text-align: left;
      padding-top: 4.3rem;

      .contact-dot {
        vertical-align: middle;
      }
    }
    // btn
    .contact-box-right-btn {
      margin-top: 2.4rem;
      margin-bottom: 4rem;
      width: 26.579rem;
      height: 9.1rem;
      cursor: pointer;
    }
  }
}
