#contact {
  position: relative;
  .contact-mainvisual {
    @include mainvisual("../images/contact-img.png");
    .contact-mainvisual-box {
      @include mainvisual-box(#818284);
    }
  }
  .bg-text-even_contact {
    @include bg-text-even();
  }
  .contact-box {
    display: flex;

    font-family: $japanese;

    &-left {
      z-index: 20;
      margin-top: 9rem;
      font-size: 4.4rem;
      line-height: 6.6rem;
      span {
        color: white;
        background-color: #000000;
        padding: 0 1rem;
      }
    }
    &-right {
      z-index: 20;
      margin-left: 7.3rem;
      font-size: 1.4rem;
      line-height: 3rem;

      &-text {
        text-align: left;
        padding-top: 3.6rem;
        &:first-child {
          padding-top: 0;
        }
        &:nth-child(2) {
          color: #c10305;
        }
        .contact-dot {
          vertical-align: middle;
        }
      }
      // btn
      .contact-box-right-btn {
        margin-top: 2.4rem;
        margin-bottom: 4rem;
        width: 26.579rem;
        height: 9.1rem;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
    }
  }

  // form
  .form-box {
    margin-top: 7rem;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .form-box-left {
      z-index: 20;

      padding: 8rem 0 0;

      p {
        margin-bottom: 3.75rem;
        font-size: 1.4rem;
      }
    }
    .form-box-right {
      z-index: 20;
      font-size: 4.4rem;
      line-height: 6.6rem;
      margin-top: 16%;

      span {
        color: white;
        background-color: #000000;
        padding: 0 1rem;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    font-family: $english;
    input {
      width: 50rem;
      background-color: #fff;
      padding-left: 1.2rem;
      height: 4.8rem;
      margin-bottom: 2rem;
      &::placeholder {
        color: #bebebe;
        font-size: 1.6rem;
      }
    }
    textarea {
      width: 50rem;
      background-color: #fff;
      padding-left: 1.2rem;
      padding-top: 1.4rem;
      margin-bottom: 3.8rem;
      resize: none;
      &::placeholder {
        color: #bebebe;
        font-size: 1.6rem;
      }
    }
    .submit {
      font-size: 1.6rem;
      font-weight: bold;
      padding: 0;
      margin: 0;
      width: 23.5rem;
      height: 5rem;
      text-align: center;
      color: white;
      border-radius: 0%;
      background-color: #c10305;
      opacity: 0.86;
      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
      img {
        margin-bottom: 0.2rem;
        margin-left: 2.3rem;
      }
    }
  }
  .contact-bgc {
    //   背景色重ね
    height: 62rem;
    width: 82rem;
    z-index: 0;
    background-color: #f7f7f7;
    position: absolute;

    &1 {
      @include lg {
        top: 28.8%;
        right: 0;
      }
    }
    &2 {
      @include lg {
        left: 0;
        top: 69.5%;
      }
    }
  }
}
