@import "rayout";
@import "variables";

.faq-mainvisual {
  @include mainvisual("../images/faq-img.png");

  .faq-mainvisual-box {
    @include mainvisual-box(#8d2659) // padding-top: 26.7rem;
;
  }
}

#faq {
  .faq-main {
    margin: 8rem 0;
  }
  .faq-box {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25rem;
    width: 63rem;
    font-family: $japanese;
    line-height: 2.8rem;
    .faq-question {
      display: flex;
      font-size: 2.4rem;

      &-q {
        font-size: 4rem;
        margin-right: 1.6rem;
        font-family: $english;
      }
    }
    .faq-answer {
      margin-top: 4.2rem;
      display: flex;
      color: #8d2659;
      font-size: 1.4rem;

      &-a {
        font-size: 4rem;
        margin-right: 1.6rem;
        font-family: $english;
      }
    }
  }
}
