#faq {
  .faq-mainvisual {
    @include mainvisual("../images/faq-img.png");
    .faq-mainvisual-box {
      @include mainvisual-box($dark-red);
    }
  }
  .bg-text-even_faq {
    @include bg-text-even();
  }

  .faq-main {
    //contents
    width: 100%;
    margin-bottom: 14rem;

    .faq-box {
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 25rem;
      width: 63rem;
      font-family: $japanese;
      line-height: 2.8rem;
      margin-top: 6rem;
      @include sp {
        background-color: #fff;
        display: block;
        max-width: 31rem;
        padding: 6rem 0;
        margin: 6rem 0;
      }
      &-question {
        display: flex;
        font-size: 2.4rem;
        margin-right: 3.6rem;
        @include sp {
          font-size: 1.8rem;
        }
        &-q {
          font-size: 4rem;
          font-family: $english;
          margin-right: 1.7rem;
          @include sp {
            font-size: 3rem;
          }
        }
      }
      &-answer {
        margin-top: 4.2rem;
        display: flex;
        font-size: 1.4rem;

        &-a {
          color: $dark-red;
          font-size: 4rem;
          margin-right: 1.6rem;
          font-family: $english;
          @include sp {
            font-size: 3rem;
          }
        }
      }
      &:nth-child(even) {
        margin-left: auto;
        @include sp {
          margin: 0;
        }
      }
    }
  }
}
