#faq {
  .faq-mainvisual {
    @include mainvisual("../images/faq-img.png");
    .faq-mainvisual-box {
      @include mainvisual-box($dark-red);
    }
  }
  .bg-text-even_faq {
    @include bg-text-even();
  }

  .faq-main {
    //contents
    width: 100%;

    .faq-box {
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: $japanese;
      line-height: 1.75rem;
      padding: 2rem;
      margin-top: 5.5rem;
      margin: 5.5rem 2rem 0;
      width: 80%;
      @include xs {
        width: 100%;
        margin: 6rem 0 0;
      }
      @include sm {
        padding: 5rem 6rem;
        line-height: 2.8rem;
      }
      @include md {
        width: 63rem;
      }
      &:first-child {
        margin-top: 0;
      }

      &-question {
        display: flex;
        margin-right: auto;
        font-size: 1rem;

        @include sm {
          font-size: 2rem;
        }
        @include md {
          font-size: 2.4rem;
        }

        &-q {
          font-family: $english;
          margin-right: 1.7rem;
          font-size: 1.6rem;
          @include sm {
            font-size: 3rem;
          }
          @include md {
            font-size: 4rem;
          }
        }
      }
      &-answer {
        display: flex;
        margin-right: auto;
        font-size: 1rem;
        margin-top: 3.2rem;

        @include sm {
          margin-top: 4.2rem;
          font-size: 1.4rem;
        }
        &-a {
          color: $dark-red;
          margin-right: 1.6rem;
          font-family: $english;

          font-size: 1.6rem;
          @include sm {
            font-size: 3rem;
          }
          @include md {
            font-size: 4rem;
          }
        }
      }
      &:nth-child(even) {
        @include md {
          margin-left: auto;
        }
      }
    }
  }
}
