#faq {
  .faq-mainvisual {
    @include mainvisual("../images/faq-img.png");
    .faq-mainvisual-box {
      @include mainvisual-box($dark-red);
    }
  }
  .bg-text-even_faq {
    @include bg-text-even();
  }

  .faq-main {
    //contents
    width: 100%;

    .faq-box {
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: $japanese;
      line-height: 1.75;
      padding: 2.8rem 2rem;

      margin: 2rem 0 0;
      width: 100%;
      @include xs {
        margin: 5rem 0 0;
      }
      @include sm {
        padding: 5rem 6rem;
      }
      @include md {
        width: 65rem;
      }
      &:first-child {
        margin-top: 0;
      }

      &-question {
        display: flex;
        margin-right: auto;
        font-size: 1.6rem;

        @include sm {
          font-size: 2rem;
        }
        @include md {
          font-size: 2.4rem;
        }
        &-text {
          padding-top: 0.8rem;
          @include md {
            padding-top: 1.8rem;
            line-height: 1.75;
          }
        }
        &-q {
          font-family: $english;
          margin-right: 1.7rem;
          font-size: 2.4rem;
          @include sm {
            font-size: 3rem;
          }
          @include md {
            font-size: 4rem;
            padding-top: 0.5rem;
          }
        }
      }
      &-answer {
        display: flex;
        margin-right: auto;
        font-size: 1.2rem;
        margin-top: 0.6rem;
        line-height: 1.75;
        @include sm {
          margin-top: 1.2rem;
          font-size: 1.4rem;
        }

        &-text {
          padding-top: 0.8rem;
          @include sm {
            padding-top: 1.2rem;
          }
          @include md {
            padding-top: 2.2rem;
          }
        }
        &-a {
          color: $dark-red;
          margin-right: 1.6rem;
          font-family: $english;
          font-size: 2.4rem;
          @include sm {
            font-size: 3rem;
          }
          @include md {
            font-size: 4rem;
          }
        }
        .faq-text-br {
          @include xs {
            display: none;
          }
          @include sm {
            display: block;
          }
        }
      }
      &:nth-child(even) {
        @include md {
          margin-left: auto;
        }
      }
    }
  }
}
