header {
  width: 100%;
  padding-right: 6.25vw;
  padding-left: 24.25vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include sm {
    color: white;
    display: block;
    margin-top: 2.5rem;
    background-color: transparent;
  }
  @include md {
    margin-top: 3.5rem;
  }
  .header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .icon {
      //id="hamburger"
      // position: relative;
      @include sm {
        display: none;
      }
      span {
        padding-left: 6.25vw;

        position: absolute; /*親要素である#hamburgerを基準に位置を指定*/
        left: 15px; /*#hamburger内の左がら15pxに横線を配置（幅が60pxなので右からも15px）*/
        width: 30px; /*横線の幅が30px*/
        height: 3px; /*横線の高さが4px*/
        background-color: rgb(0, 0, 0); /*横線を白色*/
        border-radius: 1px; /*横線の両端の角に丸みを持たせる*/
        transition: ease 0.65s; /*変化の時間（easeは初期値）*/
        &:nth-of-type(1) {
          top: 42px;
        }
        &:nth-of-type(2) {
          top: 55px;
        }
        &:nth-of-type(3) {
          top: 68px;
        }
      }
    }
    .close span:nth-of-type(1) {
      transform: rotate(45deg); /*反時計回りに45度回転*/
      top: 52px;
    }

    .close span:nth-of-type(2) {
      opacity: 0;
    }

    .close span:nth-of-type(3) {
      transform: rotate(-45deg); /*時計回りに45度回転*/
      top: 52px;
    }

    .sham-logo {
      //shamgod logo
      @include sm {
        display: none;
      }

      .logo {
        width: 9rem;
        height: 9rem;
      }
    }
    .sns {
      a {
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
      @include sm {
        display: none;
      }
      font-size: 5vw;
      .facebook-logo img {
        //layoutでスタイリング
        height: 5vw;
        width: 5vw;

        margin-bottom: 0.45rem;

        @include sm {
          display: none;
        }
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
    }
  }
  .sm {
    font-size: 1.4rem;
    color: white;
    top: 12rem; /*headerの余白分*/
    left: 0px; /*headerの余白分　ヘッダーには左右に15px余白があるので、headerの子要素となる.smは15px分内側に設置されます。その余白を埋めるために左に寄せる。*/
    position: absolute; /*絶対配置　top　leftからの位置を絶対配置する*/
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: none;
    text-align: center; /*メニューリストの文字を中央寄せ*/
    background-color: black; /*透明の背景*/
    opacity: 0.8;
  }
  ul {
    flex-direction: column; /*ulのflexboxを縦並びにする*/
    li {
      padding: 5.5rem;
      border-top: solid 0.5px rgba(255, 255, 255, 0.6); /*リストの境目に白線 */
    }
  }

  // pc header用
  nav {
    display: none;
    @include sm {
      display: flex;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      a {
        font-family: $english;
        letter-spacing: 0.07rem;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
        @include sm {
          font-size: 1.1rem;
          margin-right: 3rem;
        }
        @include md {
          font-size: 1.4rem;
          margin-right: 4rem;
        }
      }
    }
  }
}
.bg-is-black {
  color: rgb(0, 0, 0);
}
