#history {
  .history-mainvisual {
    @include mainvisual("../images/history-img.png");
    .history-mainvisual-box {
      display: flex;
      justify-content: space-between;
      @include mainvisual-box(#123a7f);
    }
  }
  .bg-text-even_history {
    @include bg-text-even();
  }
  .history-main {
    //contents
    font-family: $japanese;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 30rem;
    padding: 0 3rem;
    @include xxs {
      width: 37rem;
    }
    @include xs {
      padding: 0 2rem;
      width: auto;
    }
    @include sm {
      padding: 0 5rem;
      line-height: 2.8rem;
      font-size: 1.4rem;
    }
    @include md {
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
    }
    &_left {
      width: 100%;
      display: flex;
      flex-direction: column;

      @include md {
        display: block;
        width: 47%;
        text-align: right;
        padding-top: 4.8rem;
      }
      .history-main-box {
        order: 2;
        &-left-text {
          padding-bottom: 4rem;
          &:first-child {
            padding-top: 3rem;
            @include md {
              padding-top: 0;
            }
          }
          &:nth-child(3) {
            padding-bottom: 4rem;

            @include md {
              padding-bottom: 11.2rem;
            }
          }
        }
      }

      img {
        // タブレット・スマホ版では非表示

        order: 1;
        width: 100%;
        @include xs {
          object-fit: cover;
          height: 27rem;
        }
        @include sm {
          height: 19%;
          top: 87%;
          right: -21%;
        }
        @include md {
          position: absolute;
          top: 87%;
          right: 5%;
          height: 47%;
          position: relative;
          padding-bottom: 7.5rem;
          top: 0;
          right: 0;
        }
      }
    }
    &_right {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;

      @include md {
        display: block;
        width: 47%;
      }
      &-text {
        padding-bottom: 4rem;
        &:nth-child(3) {
          padding-bottom: 3rem;
        }
        &:last-child {
          padding-bottom: 3rem;
          @include md {
            padding-bottom: 0;
          }
        }
      }
      .history-main-img_2 {
        order: 2;
      }
      img {
        // order: 2;
        width: 100%;
        height: 11.8%;
        @include xs {
          object-fit: cover;
          height: 27rem;
        }
        @include sm {
          height: 19%;
        }
        @include md {
          position: absolute;
          height: 44%;
          position: relative;
          padding-bottom: 4.5rem;
          top: 0;
          right: 0;
        }
        @include lg {
          height: 40%;
        }
      }
    }
  }
}
/*タイムライン全体の設定*/
.timeline {
  position: absolute;
  margin-top: 1rem;
  left: 3%;
  top: 20%;
  @include xxs {
    left: 3%;
    top: 20%;
  }
  @include xs {
    left: 3%;
    top: 31%;
  }
  @include sm {
    left: 2%;
    top: 29%;
  }
  @include md {
    top: 0;
    margin-top: 4rem;
    left: 49.5%;
  }
  @include lg {
    top: -3%;
  }
  li {
    /*線の起点とするためrelativeを設定*/
    position: relative;
    list-style: none;
    padding-bottom: 4rem;
    @include sm {
      padding-bottom: 1.3rem;
      &:nth-child(6) {
        padding-bottom: 1rem;
      }
    }
    @include md {
      padding-bottom: 2rem;
    }
    @include lg {
      &:first-child {
        padding-bottom: 4px;
      }
      &:nth-child(3) {
        padding-bottom: 3rem;
      }
      &:nth-child(5) {
        padding-bottom: 1rem;
      }

      &:nth-child(6) {
        padding-bottom: 3rem;
      }
    }
    /*タイムラインの見出し横の丸の位置と形状*/
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -0.1px;
      width: 8px;
      height: 8px;
      background: black;
      border-radius: 50%;
      @include sm {
        width: 10px;
        height: 10px;
      }
    }

    .border-line {
      /*線の位置*/
      position: absolute;
      left: 0.26em;
      top: 0;
      width: 2px; /*線の太さ*/
      height: 0; /*はじめは高さを0に*/
      background: #666;
    }
  }
  // dl {
  //   margin: 0 0 20px 3em;
  //   @include lg {
  //     &:nth-child(2) {
  //       // margin: -10px 0 10px 3em;
  //     }
  //   }
  // }
}
