#history {
  .history-mainvisual {
    @include mainvisual("../images/history-img.png");
    .history-mainvisual-box {
      display: flex;
      justify-content: space-between;
      @include mainvisual-box(#123a7f);
    }
  }
  .bg-text-even_history {
    @include bg-text-even();
  }
  .history-main {
    //contents
    font-family: $japanese;
    font-size: 1.4rem;
    padding-top: 8.5rem;
    line-height: 2.8rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include sp {
      display: block;
    }

    &-text {
      padding-bottom: 4rem;
      &:nth-child(3) {
        padding-bottom: 11.2rem;
        @include sp {
          padding-bottom: 4rem;
        }
      }
    }
    &_left {
      width: 48rem;
      text-align: right;
      padding-top: 4.8rem;
      @include sp {
        padding: 0 4rem;
        text-align: left;
        display: flex;
        flex-direction: column-reverse;
      }
      img {
        padding-bottom: 7.5rem;
        @include sp {
          max-width: 34rem;
        }
      }
    }
    &_right {
      text-align: left;
      width: 48rem;
      @include sp {
        padding: 0 4rem;
        display: flex;
        flex-direction: column-reverse;
      }
      img {
        padding-bottom: 7.5rem;
        @include sp {
          max-width: 34rem;
          padding: 0;
        }
      }
    }
  }
}
/*タイムライン全体の設定*/
.timeline {
  left: 49.5%;
  position: absolute;
  margin-top: 6rem;
  @include sp {
    top: 22%;
    padding: 0;
  }
  li {
    /*線の起点とするためrelativeを設定*/
    position: relative;
    list-style: none;
    padding-bottom: 2rem;
    /*タイムラインの見出し横の丸の位置と形状*/
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background: #666;
      border-radius: 50%;
    }
    @include sp {
      padding-bottom: 4rem;
    }
    .border-line {
      /*線の位置*/
      position: absolute;
      left: 0.25em;
      top: 0;
      width: 2px; /*線の太さ*/
      height: 0; /*はじめは高さを0に*/
      background: #ccc;
    }
  }
  dl {
    margin: 0 0 20px 3em;
  }
}

/*絶対配置で線を設定*/
