@import "variables";

.container {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  @include sp {
    width: 100%;
    display: block;
  }
  // sidebar
  .side {
    width: 200px;
    font-family: $english;
    @include sp {
      display: none;
    }
    .sticky {
      // .sticky-part {
      min-height: 100vh;
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: column;

      .logo {
        width: 14rem;
        height: 14rem;
        margin: 4.1rem 2.7rem 0 2.7rem;
      }
      .side-text {
        writing-mode: vertical-rl;
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 0.3rem;
        line-height: 2rem;
        margin: auto 7rem;
        font-weight: bold;
      }
      .side-icon {
        display: flex;
        text-align: center;
        // TODO margin paddingどっちの方がいい？
        margin: 0 5.9rem;
        margin-bottom: 2.2rem;

        i {
          font-size: 2rem;
        }

        i:first-child {
          margin-left: 0.2rem;
          margin-right: 1.2rem;
        }
        .facebook-logo {
          @include sp {
            height: 1rem;
            width: 1rem;
          }
          img {
            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
            @include sp {
              margin: 0;
            }
          }
        }
      }
      // }
    }
  }
  // セクションタイトル(背景なし)
  .section-title {
    width: 100%;
    font-weight: bold;
    margin-top: 9rem;
    font-size: 3rem;
    border-left: thick solid black;
    padding-left: 2.4rem;
    // 左の線用margin
    margin-left: 2.4rem;
    @include sp {
      font-size: 2rem;
      padding-left: 1.2rem;
    }
  }
  main {
    width: calc(100% - 200px);
    font-family: $english;
    @include sp {
      width: 100%;
    }
    section {
      margin: 4rem 0 7rem;
      letter-spacing: 1.5px;
      @include sp {
        margin: auto;
        letter-spacing: 1px;
      }
      .contents {
        padding: 0 7.5rem;
        @include sp {
          padding: 0 3rem;
        }
      }
    }
  }
}
//mixin
@mixin mainvisual-box($color) {
  color: white;
  // セクションタイトル(背景あり)
  .section-title {
    border-left: thick solid white;
    z-index: 11;
    position: absolute;
    top: 50%;
    @include sp {
      top: 25%;
    }
  }
  // 背景色重ね
  &::after {
    //   背景色重ね
    content: "";
    height: 24rem;
    z-index: 10;
    opacity: 0.5;
    background-color: $color;
    position: absolute;
    top: 53%;
    bottom: 0;
    left: 0;
    right: 0;
    @include sp {
      height: 12rem;
    }
  }
}
@mixin mainvisual($url) {
  background-image: url($url);
  background-size: cover;
  height: 51rem;
  position: relative;
  @include sp {
    background-repeat: no-repeat;
    background-position: center center;
    height: 0;
    width: 100%;
    padding-top: 68%;
  }
}

@mixin bg-text {
  position: absolute;
  margin: 0;
  margin-top: 2rem;
  z-index: 10;
  text-align: left;
  font-size: 14rem;
  letter-spacing: 0.7rem;
  color: #f7f7f7;
  @include sp {
    display: none;
  }
}
@mixin bg-text-even($left) {
  position: absolute;
  margin: 0;
  margin-top: 2rem;
  z-index: 10;
  text-align: left;
  font-size: 14rem;
  top: 67%;
  left: $left;
  font-family: $english;
  letter-spacing: 0.7rem;
  color: #f7f7f7;
  @include sp {
    font-size: 6.6rem;
    letter-spacing: 0.3rem;
  }
}
