.mainvisual {
  position: relative;
  .mainvisual_box {
    position: absolute;
    right: 0;
    font-family: $japanese;
    color: #f7f7f7;
    font-weight: normal;
    letter-spacing: 1.5px;
    bottom: 3rem;
    &_text {
      background-color: rgba(193, 3, 5, 0.7);
      padding: 0.5rem;

      font-size: 1.3rem;

      @include xxs {
        padding: 0.8rem;
        font-size: 1.8rem;
      }
      @include xs {
        font-size: 2rem;
      }
      @include sm {
        font-size: 2rem;
      }
      @include md {
        font-size: 3rem;
        padding: 1rem;
      }
      &_1 {
        display: inline-block;
        margin-bottom: 1rem;
        @include sm {
          width: 22rem;
        }
        @include md {
          width: 28rem;
        }
      }
      &_2 {
        display: block;
      }
    }
  }

  img {
    height: 70vh;
    width: 100%;
    margin-top: 8.4rem;
    object-fit: cover;

    @include sm {
      margin-top: 0;
    }
    @include lg {
      height: 101vh;
    }
  }
}
