#message {
  position: relative;
  .message_main {
    padding: 0 1.5rem;
    margin-top: 4rem;
    width: auto;
    margin: 4rem auto 0;

    @include md {
      margin: 6rem auto 0;
    }
  }
  .message-box {
    font-family: $japanese;
    @include lg {
      display: flex;
      justify-content: space-between;
    }
    &_left {
      position: relative;
      z-index: 20;
      line-height: 1.5;
      padding-right: 2rem;
      font-size: 6vw;
      @include xs {
        font-size: 2.4rem;
      }
      @include sm {
        font-size: 3.6vw;
      }
      @include md {
        font-size: 3.8rem;

        margin: 0 auto;
        width: 77rem;
      }
      @include lg {
        margin: 0;
        width: auto;
      }

      .message-concept {
        .message_br {
          @include xs {
            display: none;
          }

          @include md {
            display: none;
          }

          @include lg {
            display: block;
          }
        }
      }
    }
    &_right {
      position: relative;
      z-index: 20;
      font-weight: bold;
      font-size: 2vw;
      line-height: 1.75;
      padding-top: 2.5rem;

      @include sm {
        width: 53rem;
        font-size: 1.4rem;
        margin: 0 auto;
      }
      @include md {
        padding-top: 4rem;
        line-height: 2;
      }
      @include lg {
        margin: 0 0 0 auto;
        padding-top: 0;
      }
      .message-text {
        padding-bottom: 1.8rem;
        @include sm {
          padding-bottom: 3rem;
        }
        &:nth-child(3) {
          color: #c10305;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
