#message {
  position: relative;
  .message-box {
    font-family: $japanese;
    @include md {
      display: flex;
    }
    &_left {
      position: relative;
      z-index: 20;
      font-size: 1.8rem;
      line-height: 1.5;
      padding-right: 7.9rem;
      @include sm {
        font-size: 3.8rem;
      }
      @include md {
      }
      .message-concept {
        width: 23rem;

        @include xs {
          width: 39.4rem;
        }
        @include md {
          width: 39.4rem;
        }
        @include lg {
          width: 44rem;
        }
      }
    }
    &_right {
      position: relative;
      z-index: 20;
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 1.9rem;
      padding-top: 2.5rem;
      @include md {
        padding-top: 0;
        font-size: 1.4rem;
        line-height: 2.8rem;
      }
      .message-text {
        padding-bottom: 1.8rem;
        @include sm {
          padding-bottom: 3rem;
        }
        &:nth-child(3) {
          color: #c10305;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
