#message {
  position: relative;
  .message-box {
    display: flex;
    font-family: $japanese;
    @include sp {
      display: block;
    }
    @include tab {
      display: inherit;
    }
    &_left {
      z-index: 20;
      font-size: 4.4rem;
      line-height: 1.5;
      padding-right: 7.9rem;
      @include tab {
        z-index: 20;
        font-size: 2.7rem;
        margin-bottom: 5rem;
        padding: 0;
      }
      @include sp {
        font-size: 2.7rem;
        margin-bottom: 5rem;
        padding: 0;
      }
      .message-concept {
        width: 50rem;
        @include tab {
          width: auto;
        }
      }
    }
    &_right {
      z-index: 20;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 2.8rem;
      .message-text {
        padding-bottom: 3rem;
        &:nth-child(3) {
          color: #c10305;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
