@import "rayout";
@import "variables";
// TODO　背景画像に背景色を重ねる所
.movies-mainvisual {
  background-image: url(../images/movies-img.png);
  background-size: cover;
  height: 51rem;
  position: relative;
  .movies-mainvisual-box {
    // padding-top: 26.7rem;
    // padding-bottom: 12.3rem;
    color: $white;
    .section-title {
      border-left: thick solid white;
      z-index: 11;
      position: absolute;
top: 50%;
    }
    // 背景色重ね

    &::after {
      //   背景色重ね
      content: '';
      height: 24rem;
      z-index: 10;
      opacity: 0.7;
      background-color: #801617;
      position: absolute;
      top: 53%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
#movies {
  margin-top: 7.6rem;
  display: flex;
  flex-wrap: wrap;

  .movies-box {
    &:first-child {
      margin-left: 7.75rem;
    }
    &:nth-child(2) {
      margin-left: 5.4rem;
    }
    &:nth-child(3) {
      margin-top: 6rem;
      margin-left: 7.75rem;
    }
    &:nth-child(4) {
      margin-top: 6rem;
      margin-left: 5.4rem;
    }

    .movies-text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 48rem;
      height: 16.7rem;
      text-align: center;
      background-color: #f4f4f4;
      .movies-box-text_title {
        font-size: 2rem;
        font-family: $japanese;
        font-weight: bold;
      }
      .movies-box-text_subtext {
        padding-top: 0.7rem;
        font-size: 1.4rem;
        color: #818181;
      }
    }
  }
}
.movies-btn-box{
  
  line-height:40px;

  width: 100%;
  font-weight: bold;

  font-size: 3rem;
  font-family: $english;
margin-top: 5.4rem;
margin-right: 14rem;

}
.movies-btn{

  display:block;
  width: 14rem;
  height: 5rem;
  margin-left: auto;
  background:black;
  text-align:center;
  border-top:3px solid black;
  border-bottom:3px solid black;
  color:$white;
  font-size:1.4rem;
  font-weight:bold;
  box-shadow:0px 0px 0px 1px $white inset;
  transition: all 0.5s ease;
  &:hover{
    background:$white;
    color:black;
    margin-left:0px;
    margin-top:0px;
    border-top:3px solid $white;
    border-bottom:3px solid $white;
    box-shadow:0px 0px 0px 1px $white ;
  }
}