@import "variables";

.container {
  display: flex;
  // sidebar
  .side {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 200px;
    position: sticky;
    top: 0;
    font-family: $english;
    min-height: 100vh;
    .logo {
      width: 14rem;
      height: 14rem;
      margin: 0 2.7rem;
      margin-top: 4.1rem;
    }
    .side-text {
      writing-mode: vertical-rl;
      font-size: 1.2rem;
      text-align: left;
      letter-spacing: 0.3rem;
      line-height: 2rem;
      margin: auto 7rem;
      font-weight: 900;
    }
    .side-icon {
      display: flex;
      text-align: right;
      padding: 0 5.3rem;
      margin-bottom: 2.2rem;

      i {
        //   TODO 一番右のアイコンの余白が消えない・バランスが悪い
        font-size: 2rem;
      }
      i:first-child {
        margin-right: 1.2rem;
      }
      i:last-child {
        margin-left: 1.2rem;
      }
    }
  }
  section {
    margin-top: 8rem;
  }
  main {
    .mainvisual img {
      width: 100%;
      max-width: 1920px;
      object-fit: cover;
    }

    // セクションタイトル
    .section-title {
      width: 100%;
      font-weight: bold;
      margin-top: 9rem;
      font-size: 3rem;
      font-family: $english;
      border-left: thick solid black;
      padding-left: 2.4rem;
      margin-left: 2.4rem;
    }
  }
}
