#representative {
  position: relative;
  .repsen-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-top: 6rem;
    font-family: $japanese;
    line-height: 2.8rem;
    font-size: 1.4rem;
    display: flex;

    &-text {
      padding-top: 3rem;
      &:last-child {
        color: #c10305;
      }
    }
    &-left {
      z-index: 30;
    }
    &-right {
      padding-top: 3rem;

      z-index: 30;
    }
  }
}
