#representative {
  position: relative;
  .repsen-box {
    display: flex;
    justify-content: space-between;
    margin-top: 14rem;
    padding-bottom: 2rem;
    font-family: $japanese;
    line-height: 2.8rem;
    font-size: 1.4rem;
    display: flex;
    @include sp {
      flex-direction: column-reverse;
      margin: 5rem 0;
    }
    &-text {
      padding-top: 4.4rem;
    }
    &-right {
      @include sp {
        max-width: 100%;
        img {
          max-width: 31.5rem;
          max-height: 46rem;
          margin: 3rem 0;
        }
      }
    }
  }
}
